.prod-wrapper{
    display: flex; 
    justify-content: center;
    gap: 4em;
    padding: 4em;
 }
 
 .slider-sec-prod{
     width: 65vw;
     display: flex;
     flex-direction: column;
     gap: 3em;
 }
 
 .slider-prod{
     width: 100%;
     height: 500px;
     border-radius: 2em;
 }
 
.bg-img-1-prod{
    background-image: url(../images/slider/ryzen.png);
    background-size: cover;
    background-position: center center;
}

.bg-img-2-prod{
    background-image: url(../images/slider/rtx-center.png);
    background-size: cover;
    background-position: center center;
}

.bg-img-3-prod{
    background-image: url(../images/slider/mainboard.jpg);
    background-size: cover;
    background-position: center center;
}

 
 .page-navigation{
     color: #818181;
     display: flex;
     gap: 1.5em;
     font-size: 1.5em;
     padding-left: 20px;
     cursor: pointer;
 
     &>span:hover{
         cursor: default;
     }
 
     &>p:hover{
         color: #820BA2;
     }
 
 }
 
 .blanco{
     color: #F1F1F1;
 }
 
 .sidemenu{
     position: sticky;
     top: 5em;
     color: #F1F1F1;
     background-color: #3b3b3b;
     width: 300px;
     height: fit-content;
     border-radius: 16px;
 
     &>ul{

        padding: 0;

         &>li{
             padding: 9px 0;
             font-size: 1.3em;
             padding-left: 1em;
             border-color: #000000;
             border-width: 1px 0 0 0;
             border-style: solid;
         }
 
         &>li:hover{
             color: #820BA2;
             cursor: pointer;
         }
 
         &>:first-child{
             border-width: 0;
         }
 
     }
 }
 
 .sidemenu-tittl{
     background-color: #820BA2;
     width: 100%;
     height: 70px;
     display: flex;
     align-items: center;
     padding-left: 1em;
     border-radius: 16px 16px 0 0;
 
     &>p{
         font-size: 2em;
         font-weight: 900;
     }
 }

 @media (max-width:1000px) {
    .sidemenu{
        display: none;
    }
}
